{% extends 'places_app/base.html' %}

{% block title %}Удалить запись{% endblock %}

{% block content %}
  {% include './blocks/auth-user-info.html' %}

    <div class="container">
      <main>
        <h1 class="py-5 text-center">Удалить запись</h1>
        <div class="col-md-6 mx-auto">
          <form method="post">{% csrf_token %}
            <p class="lead">Вы уверены, что хотите удалить запись "{{ object.place_name }}"?</p>
            <div class="form-group">
              <button class="btn btn-outline-danger" type="submit">Удалить</button>
              <a class="btn btn-outline-secondary" href="{% url 'my_places' %}">Отмена</a>
            </div>
          </form>
        </div>
      </main>
    </div>
{% endblock %}<!-- Окончание блока content -->