{% extends "account/base.html" %}

{% load i18n %}
{% load socialaccount %}

{% block head_title %}Войти{% endblock %}

{% block content %}

  <h1 class="display-5 fw-bold mb-4">Places Remember</h1>
  <div class="mb-5">
    <p class="lead">Для просмотра данной страницы необходимо авторизоваться.</p>
  </div>
{% get_providers as socialaccount_providers %}
{% if socialaccount_providers %}
  <div class="d-grid gap-3 col-10 col-sm-4 mx-auto auth-providers">
    {% for provider in socialaccount_providers %}
    <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}} btn" 
     href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">Войти через {{provider.name}}</a>
    {% endfor %}
  </div>
{% endif %}
{% endblock %}
